<template>
  <div>
    <b-card 
      :title="title"
      :img-src="posterPath" 
      img-alt="Image" 
      img-top tag="article" 
      style="max-width: 20rem;" class="mb-2">
      <p class="card-text">
        {{ trimString(overview) }}
      </p>
      <b-button href="#" variant="primary">Know More</b-button>
    </b-card>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String
    },
    posterPath: {
      type: String,
    },
    overview: {
      type: String,
    },
  },
  methods: {
    trimString(overview) {
      let str = overview;
      return str = str.replace(/^(.{80}[^\s]*).*/, "$1"); 
    }
  },
}
</script>

<style scoped>

</style>
