<template>
  <div>
    <b-carousel 
      id="carousel1" 
      style="text-shadow: 1px 1px 2px #333;" 
      controls indicators background="#ababab" 
      :interval="4000" img-width="200" 
      img-height="200" v-model="slide" 
      @sliding-start="onSlideStart" 
      @sliding-end="onSlideEnd">
      <!-- Text slides with image -->
      <b-carousel-slide 
        v-for="images in imgData" :key="images.id"
        :caption="images.title" 
        text="Nulla vitae elit libero, a pharetra augue mollis interdum." 
        :img-src="images.poster_path"
        img-height="200"
        img-width="200"
      ></b-carousel-slide>

      </b-carousel>

  </div>
</template>

<script>
export default {
  props: {
    imgData: {
      imgData: {
        type: Array,
        default: [],
      },
    }
  },
  data() {
    return {
      slide: 0,
      sliding: null
    }
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true
    },
    onSlideEnd(slide) {
      this.sliding = false
    }
  }
}
</script>
<!-- carousel-1.vue -->