<template>
  <div class="container">
    <br/>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
            </div>
            <div class="col">
              <input 
                class="form-control form-control-lg form-control-borderless" 
                type="search" 
                placeholder="Search topics or keywords"
                v-model="query"
                >
            </div>
            <div class="col-auto">
              <button 
                class="btn btn-lg btn-success" 
                type="submit"
              >Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
     <div v-if="showSearchResults">
      <br>
      <b-card-group deck>
          <div v-for="movies in searchResult" :key="movies.id">
            <card 
              :title="movies.title" 
              :overview="movies.overview" 
              :poster-path="movies.poster_path" 
            />
          </div>
        </b-card-group>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import _ from 'lodash';

import Card from './card.vue';

export default {  
  data() {
    return {
      query: '',
      showSearchResults: false,
      searchResult: [],
    }
  },
  components: {
    Card,
  },
  watch: {
    query(val) {
      if (val.length > 0) {
       setTimeout(() => {
         this.getResults();
       }, 2000);
      } else {
        this.showSearchResults = false;
        this.$emit('update', false);
        return;
      }
    }
  },
  methods: {
    getResults() {
      axios
        .get(`https://api.themoviedb.org/3/search/movie?api_key=c733201b60fb53f40a2f9052a9658c87&language=en-US&query=${this.query}&page=1&include_adult=false`)
        .then(({ data }) => {
          this.searchResult = data.results;
          for (let x of this.searchResult) {
            if (x.poster_path) x.poster_path = `https://image.tmdb.org/t/p/w500/${x.poster_path}`;
            else {
              x.poster_path = `https://image.tmdb.org/t/p/w500/kqjL17yufvn9OVLyXYpvtyrFfak.jpg`;
            }
          }
          this.showSearchResults = true;
          this.$emit('update', true);
      });
    }
  }
}
</script>

<style scoped>
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
</style>
