<template>
  <div id="app">
    <nav-bar 
      title="Movie Time" 
    />
    <search 
      @update="onUpdate"
    />
    <br />
    <div v-if="!showSearchResults">
    <b-tabs>
      <b-tab 
        title="Top Movies" 
        @click="fetchTopMovies" 
        active>
        <br>
        <b-card-group deck>
          <div v-for="movies in info" :key="movies.id">
            <card 
              :title="movies.title" 
              :overview="movies.overview" 
              :poster-path="movies.poster_path" 
            />
          </div>
          <div>
            <b-pagination 
              size="md" 
              align="center"
              :total-rows="100" 
              v-model="currentInfoPage" 
              :per-page="20">
           </b-pagination>
          </div>
        </b-card-group>
      </b-tab>
      <b-tab title="Discover OmDB">
        <br>
       <b-card-group deck>
          <div v-for="movies in discover" :key="movies.id">
            <card 
              :title="movies.title" 
              :overview="movies.overview" 
              :poster-path="movies.poster_path" 
            />
          </div>
           <b-pagination 
              size="md" 
              align="center"
              :total-rows="100" 
              v-model="currentDiscoverPage" 
              :per-page="20">
           </b-pagination>
        </b-card-group>
      </b-tab>
    </b-tabs>
    </div>
  </div>
</template>

<script>
import Card from './components/card.vue';
import Carousel from './components/carousel.vue';
import NavBar from './components/navbar.vue';
import Search from './components/search.vue';

import axios from 'axios';

export default {
  name: 'app',
  data() {
    return {
      info: [],
      discover: [],
      topRatedFilms: [],
      loading: false,
      currentInfoPage: 1,
      showSearchResults: false,
      currentDiscoverPage: 1,
    }
  },
  watch: {
    currentInfoPage(val) {
      this.fetchTopMovies(val);
    },
    currentDiscoverPage(val) {
      this.discoverMovies(val);
    }
  },
  components: {
    Card,
    NavBar,
    Search,
    Carousel,
  },
  created() {
    this.fetchTopMovies(1);
    this.discoverMovies(1);
    // this.topRatedMovies();
  },
  methods: {
    onUpdate(val) {
      this.showSearchResults = val;
    },
    fetchTopMovies() {
      axios
        .get(`https://api.themoviedb.org/3/movie/popular?api_key=c733201b60fb53f40a2f9052a9658c87&language=en-US&page=${this.currentInfoPage}`)
        .then(({ data }) => {
          this.info = data.results;
          for (let x of this.info) {
            if (x.poster_path) x.poster_path = `https://image.tmdb.org/t/p/w500/${x.poster_path}`;
            else {
              x.poster_path = `https://image.tmdb.org/t/p/w500/kqjL17yufvn9OVLyXYpvtyrFfak.jpg`;
            }
          }
        })
        .catch(error => {
          console.log(error)
          this.errored = true
        })
        .finally(() => this.loading = false)
    },
    discoverMovies() {
      axios
        .get(`https://api.themoviedb.org/3/movie/top_rated?api_key=c733201b60fb53f40a2f9052a9658c87&language=en-US&page=${this.currentDiscoverPage}`)
        .then(({ data }) => {
          this.discover = data.results;
          for (let x of this.discover) {
            if (x.poster_path) x.poster_path = `https://image.tmdb.org/t/p/w500/${x.poster_path}`;
            else {
              x.poster_path = `https://image.tmdb.org/t/p/w500/kqjL17yufvn9OVLyXYpvtyrFfak.jpg`;
            }
          }
      })
    },
  }

}
</script>

<style>
#app {}
</style>
